.home {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  background: var(--background);
  color: var(--text);
}

/* Story Sections */
.story-section {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
}

.story-section h2 {
  margin-bottom: 20px;
  color: var(--text);
}
.Story-Container {
  margin: 0 10%;
}
.story-row {
  display: grid;
  grid-template-columns: repeat(7, [col-start] 160px [col-end]);
}
