.search-page {
  width: 90%;
  margin: 40px auto;
}

.search-page h1 {
  margin-bottom: 30px;
}

/* نتایج */

.search-results h2 {
  margin-bottom: 20px;
}
.search-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
