@font-face {
  font-family: "Estedad";
  src: url("./assets/fonts/Estedad-Regular.woff2");
  font-weight: 400;
}
:root {
  /* Backgrounds */
  --background: #ffffff;
  --surface: #f8fafc;
  --surface-hover: #f1f5f9;

  /* Text */
  --text: #1f2937;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;

  /* Borders */
  --border: #e5e7eb;

  /* Brand */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --primary-soft: #dbeafe;

  /* Status */
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  /* Shadow */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.dark {
  /* Backgrounds */
  --background: #18181b;
  --surface: #27272a;
  --surface-hover: #323236;

  /* Text */
  --text: #f4f4f5;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;

  /* Borders */
  --border: #3f3f46;

  /* Brand */
  --primary: #60a5fa;
  --primary-hover: #3b82f6;
  --primary-soft: #1e3a8a;

  /* Status */
  --success: #4ade80;
  --warning: #fbbf24;
  --danger: #f87171;

  /* Shadow */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Estedad";
}

html {
  scroll-behavior: smooth;

  background: var(--background);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

body {
  background: var(--background);
  color: var(--text);

  font-family: "Vazirmatn", sans-serif;

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  direction: rtl;
  text-align: right;
}

#root {
  background: var(--background);
  min-height: 100vh;
}
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}
